@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
  }
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
